{% extends "core/baselayout.html" %}
{% block css %}
<style type="text/css">
.portlet{
    margin-top:20px;
}
.portlet-title{
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
    width:100%;
    font-size:20px;
    font-weight:bold;
}
.portlet-body{
}
</style>

{% endblock css %}
{% block body %}
    <div class="container">
        <div class="row portlet">
            <div class="portlet-title">Featured Books</div>
            <div class="row portlet-body">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row portlet">
            <div class="portlet-title">Featured Books</div>
            <div class="row portlet-body">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row portlet">
            <div class="portlet-title">Featured Books</div>
            <div class="row portlet-body">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row portlet">
            <div class="portlet-title">Featured Books</div>
            <div class="row portlet-body">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="https://unsplash.it/200/200/?random" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Learn Python</h5>
                            <p class="card-text">Allen B. Downey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    
    </div>    



{% endblock body %}
